<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>hello</title>
</head>

<body>
<div class="container">
    <div class="col-6">
        <label><b>채팅방</b></label>
    </div>

    <div>
        <div id="msgArea" class="col"></div>

        <div class="col-6">
            <div class="input-group mb-3">
                <input type="text" id="msg" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">

                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webstomp-client/1.2.0/webstomp.min.js"></script>

<script th:inline="javascript">
    $(document).ready(function(){

        const username = [[${name}]];

        $("#button-send").on("click", (e) => {
            send();
        });

        var sock = new SockJS("/ws/chat");
        var stomp = webstomp.over(sock);

        stomp.connect({}, function(frame) {
            console.log('Connected: ' + frame);

            // Here, you can subscribe to a topic to receive messages.
            stomp.subscribe('/topic/someTopic', function(messageOutput) {
                onMessage(JSON.parse(messageOutput.body));
            });

        });

        function send(){
            let msg = document.getElementById("msg").value;
            console.log(username + ":" + msg);

            // Sending a message through STOMP
            stomp.send("/app/chat", JSON.stringify({'name': username, 'message': msg}), {});
            document.getElementById("msg").value = '';
        }

        function onMessage(messageOutput) {
            var data = messageOutput.data;
            var sessionId = null;
            var message = null;
            var arr = data.split(":");

            for(var i=0; i<arr.length; i++){
                console.log('arr[' + i + ']: ' + arr[i]);
            }

            var cur_session = username;

            sessionId = arr[0];
            message = arr[1];

            console.log("sessionID : " + sessionId);
            console.log("cur_session : " + cur_session);

            // Differentiate messages from the logged-in client and other clients.
            if(sessionId == cur_session){
                var str = "<div class='col-6'>";
                str += "<div class='alert alert-secondary'>";
                str += "<b>" + sessionId + " : " + message + "</b>";
                str += "</div></div>";
                $("#msgArea").append(str);
            }
            else{
                var str = "<div class='col-6'>";
                str += "<div class='alert alert-warning'>";
                str += "<b>" + sessionId + " : " + message + "</b>";
                str += "</div></div>";
                $("#msgArea").append(str);
            }
        }
    })
</script>

</body>
</html>
